@{
    ViewData["Title"] = "Sign Up";
    
}
@model CustomerSignUp
<partial name="_Notification" />
<partial name="_BreadcrumbPartial" model='@new Breadcrumb("Sign Up", "fa-user-plus")' />
<partial name="_ValidationScriptsPartial"></partial>

@section Scripts {
    <partial name="_FileInput" />
}
<!-- sign up section start -->
<section class="log-in-section section-b-space">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-4 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="~/assets/images/sign-up.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-6 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>Welcome To FastFood</h3>
                        <h4>Create New Account</h4>
                    </div>

                    <form class="input-box" method="post"  enctype="multipart/form-data">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input  asp-for="CustName"  class="form-control text-capitalize" autocomplete="off">
                                    <label asp-for="CustName"></label>
                                    <span asp-validation-for="CustName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input  asp-for="CustEmail" class="form-control text-lowercase">
                                    <label asp-for="CustEmail"></label>
                                    <span asp-validation-for="CustEmail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input asp-for="CustPhone" class="form-control">
                                    <label asp-for="CustPhone"></label>
                                    <span asp-validation-for="CustPhone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <textarea asp-for="CustAddress" class="form-control " rows="4"></textarea>
                                    <label asp-for="CustAddress"></label>
                                    <span asp-validation-for="CustAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input asp-for="CustPassword"  class="form-control">
                                    <label asp-for="CustPassword"></label>
                                    <span asp-validation-for="CustPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input asp-for="ImageFile"  data-browse-on-zone-click="true" data-allowed-file-extensions='["jpg","png","gif","jpeg","bmp"]' />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12">
                                <button  class="btn btn-animation w-100" type="submit">Sign Up</button>
                            </div>
                        </div>
                    </form>



                    <div class="sign-up-box">
                        <h4>Already have an account? </h4>
                        <a asp-action="Login">Log In</a>
                        
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</section>

