@model CustProfileName


@if (Model != null)
{
    <strong>@Model.CustName.CapitalizeEachWord()</strong>
    <hr />
    <ul class='user-box-name'>
        <li class='product-box-contain'>
            <a asp-controller="Customer" asp-action="MyAccount">
                <i class='fa fa-user-tag'></i>&nbsp;My Account
            </a>
        </li>
        <li class='product-box-contain'>
            <a asp-controller="Customer" asp-action="ViewCart">
                <i class='fa fa-bag-shopping'></i>&nbsp;View Cart
            </a>
        </li>
        <li class='product-box-contain'>
            <a asp-controller="Customer" asp-action="UpdateProfile">
                <i class='fa fa-user-check'></i>&nbsp;Update Profile
            </a>
        </li>
        <li class='product-box-contain'>
            <a asp-controller="Customer" asp-action="UpdateProfile">
                <i class='fa fa-key'></i>&nbsp;Change Password
            </a>
        </li>
        <li class='product-box-contain'>
            <a asp-controller="Account" asp-action="Logout"><i class='fa fa-lock'></i>&nbsp;Log Out</a>
        </li>
    </ul>
}
else
{
    <ul class='user-box-name'>
        <li class='product-box-contain'>
            <a asp-controller="Account"  asp-action="Login">
                <i class='fa fa-sign-in'></i> Log In
            </a>
        </li>
        <li class='product-box-contain'>
            <a asp-controller="Account" asp-action="SignUp">
                <i class='fa fa-user-plus'></i> Sign Up
            </a>
        </li>
    </ul>
}